<!-- <div class="sign-in-wrapper">
  <form [formGroup]="frm">
    <h1>Sieconnect</h1>
    &lt;!&ndash; Username input &ndash;&gt;
    <input type="text" formControlName="username" placeholder="Your username">

    &lt;!&ndash; Username validation message &ndash;&gt;
    <div
      class="input-errors"
      *ngIf="(frm.get('username').invalid && frm.get('username').touched) || showInputErrors"
    >
      <div *ngIf="frm.get('username').hasError('required')">
        Please enter your username
      </div>
    </div>

    &lt;!&ndash; Password input &ndash;&gt;
    <input type="password" formControlName="password" placeholder="Your password">

    &lt;!&ndash; Password validation message &ndash;&gt;
    <div
      class="input-errors"
      *ngIf="(frm.get('password').invalid && frm.get('password').touched) || showInputErrors"
    >
      <div *ngIf="frm.get('password').hasError('required')">
        Please enter your password
      </div>
    </div>

    &lt;!&ndash; Sign-in error message &ndash;&gt;
    <div class="sign-in-error" *ngIf="hasFailed">
      Invalid username and password.
    </div>

    &lt;!&ndash; Sing-in button &ndash;&gt;
    <button (click)="doSignIn()" [disabled]="isBusy">
      <ng-template [ngIf]="!isBusy">Sign in</ng-template>
      <ng-template [ngIf]="isBusy">Signing in, please wait...</ng-template>
    </button>

    &lt;!&ndash; Tip &ndash;&gt;
    <p class="tip">You can sign in with username "demo" and password "demo".</p>

  </form>
</div>
 -->


<div class="container-fluid">
  <div class="row section">
    <div class="col-sm-8 col-md-6 col-lg-6 backimg pull-left">
      <img src="../../assets/login image.png" class="img-fluid">
    </div>
    <div class="col-sm-7 col-md-5 col-lg-5">
      <div class="logo">
        <img src="../../assets/siemens logo.png">
        <h3>SEI
          <span>CONNECT</span>
        </h3>
        <h6 class="foot">Powered by SEIMENS SFS</h6>
      </div>
      <div class="dataInp">
        <p>1st June 2018</p>
        <h1>Hello!</h1>
        <h3>Welcome to
          <br>SIECONNECT</h3>
        <div class="input">
          <button [ngClass]="defaultSignInMethod == 0 ? 'tablink img-rounded active' : 'tablink img-rounded'" (click)="openCity(0)">Mobile Bank ID</button>
          <span> OR</span>
          <button [ngClass]="defaultSignInMethod == 1 ? 'tablink img-rounded active' : 'tablink img-rounded'" (click)="openCity(1)">
            Email & Password</button>

          <div class="tabcontent" *ngIf="defaultSignInMethod==0">
            <input type="text" name="" placeholder="YYYYDDMMXXXX" class="inputType mar-t23">
            <br>
          </div>

          <div class="tabcontent" *ngIf="defaultSignInMethod==1">
            <form [formGroup]="frm">

              <span class="glyphicon glyphicon-envelope glyphy"></span>
              <input type="email" class="inputType mar-l mar-t23" formControlName="username">

              <div class="input-errors" *ngIf="(frm.get('username').invalid && frm.get('username').touched) || showInputErrors">
                <div *ngIf="frm.get('username').hasError('required')">
                  Please enter your username
                </div>
              </div>

              <span class="glyphicon glyphicon-lock glyphy"></span>
              <input type="password" formControlName="password" class="inputType mar-l mar-t15">
              <div class="input-errors" *ngIf="(frm.get('password').invalid && frm.get('password').touched) || showInputErrors">
                <div *ngIf="frm.get('password').hasError('required')">
                  Please enter your password
                </div>
              </div>
              <div class="sign-in-error war-div" *ngIf="hasFailed">
                <!-- <div class="war-div"> -->
                <img src="../../assets/warning.svg" class="war-img">
                <span >
                  <h6 class="war-font">Invalid Credintials</h6>
                  <h6 class="war-font">Please enter Correct Credintials</h6>
                </span>
              </div>
            </form>
          </div>
          <div class="log-btn">
            <!--<input type="button" name="" value="LOGIN" class="img-rounded" onclick="login()">-->
            <button class="img-rounded btn-style" (click)="doSignIn()" [disabled]="isBusy">
              <ng-template [ngIf]="!isBusy">Sign in</ng-template>
              <ng-template [ngIf]="isBusy">Signing in, please wait...</ng-template>
            </button>
            <div *ngIf="defaultSignInMethod==1">
              <span class="clr-w mart-10 cursor"  (click)="openModal(template)">Forget Password?
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Forgot Password ?</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">
        <img src="../assets/cross.svg">
      </span>
    </button>
  </div>
  <!--<div class="modal-body">
    This is a modal.
  </div>-->
  <div class="modal-body" style="background-color: #f6f3f3;">
    <div class="model-pass" >
      <img src="../../assets/siemens logo.png" class="wd-10p">
      <h6>Please enter Email Address to reset the password</h6>
      <input type="email" name="" placeholder="Enter Email Address" class="inp-fb" style="text-align: center;">
      <input type="button" name="" value="Submit" class="btn-fp">
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>-->
</ng-template>
