<div>
  <div class="row flex-D">
    <div class="col-md-4 flex-C" *ngFor="let img of images">
      <div>
        <a>
          <img src="../../../assets/{{img}}.png" class="img-size">
          <!-- <div class="f-store">
          <!-- <a href="#">
            <span class="fa fa-cart-arrow-down i-size"></span>
            <!--<span class="glyphicon glyphicon-shopping-cart"></span>
          </a>
          <a href="#">     
            <span class="fa fa-file-text-o if-size"></span>
            <!--<span class="glyphicon glyphicon-list-alt"></span>
          </a> 
        </div> -->
        </a>
      </div>
    </div>
  </div>
</div>