
<div class="t-container m-top">
  <div class="row mar-l">
    <div class="col-md-4">
      <h4 class="fb-15 mar-lb">Agreement View</h4>
      <div >
        <div class="table-responsive box-border">
          <table  class="asset-table">
            <thead>
            <tr>
              <th>No.</th>
              <td class="fw-600">{{agreement.id}}</td>
            </tr>
            <tr>
              <th>Type</th>
              <td>{{agreement.type}}</td>
            </tr>
            <tr>
              <th>Contact</th>
              <td>{{agreement.contact}}</td>
            </tr>
            <tr>
              <th>Start Date</th>
              <td>{{agreement.start_date}}</td>
            </tr>
            <tr>
              <th>End Date</th>
              <td><div class="bg-aqua fw-600">{{agreement.end_date}}</div></td>
            </tr>
            <tr>
              <th>Payment Frequency</th>
              <td>{{agreement.payment_freq}}</td>
            </tr>
            <tr>
              <th>Remaining Term</th>
              <td>{{agreement.Remaining_term}}</td>
            </tr>
            <tr>
              <th>Term</th>
              <td>{{agreement.term}}</td>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div class="mt-20 arr-agr">
				<span>
					<img src="../../assets/Group 2.svg" class="wd-34p">
				</span>
    </div>
    <div class="col-md-7">
      <h4 class="fb-15 mar-lb">List of Assets</h4>
      <div>
        <div class="table-responsive box-border">
          <table  class="asset-table">
            <thead class="bg-black c-white">
            <tr>
              <th>Asset Name</th>
              <th>Location</th>
              <th>Quantity</th>
              <th>Serial No.</th>
              <th>Supplier</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of coveredAssets">
              <td>
                <a routerLink="/main/asset/{{asset.id}}" routerLinkActive="active">Canon RW2014</a>
              </td>
              <td>{{asset.location}}</td>
              <td>6</td>
              <td>{{asset.serialno}}</td>
              <td>{{asset.supplier}}</td>
            </tr>
            <!--
              <td>
                <a routerLink="/main/asset/12" routerLinkActive="active">Canon SW2017</a>
              </td>
              <td>Bromma</td>
              <td>6</td>
              <td>SR92912</td>
              <td>ATOS LLP</td>
            </tr>
            <tr>
              <td>
                <a routerLink="/main/asset/12" routerLinkActive="active">Canon DW2014</a>
              </td>
              <td>Bromma</td>
              <td>6</td>
              <td>SR92918</td>
              <td>ATOS LLP</td>
            </tr>
            <tr>
              <td>
                <a routerLink="/main/asset/12" routerLinkActive="active">Canon SW2014</a>
              </td>
              <td>Bromma</td>
              <td>6</td>
              <td>SR92912</td>
              <td>ATOS LLP</td>
            </tr>
            <tr>
              <td>
                <a routerLink="/main/asset/12" routerLinkActive="active">Canon SW2014</a>
              </td>
              <td>Bromma</td>
              <td>6</td>
              <td>SR92912</td>
              <td>ATOS LLP</td>
            </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="payment-d">
        <img src="../../assets/wallet.svg">
        <span>Payment Info</span>
      </div>
    </div>
  </div>
</div>
