<div class="mainContainer">
  <nav class="navbar navbar-inverse custom noTopBottomMargin">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="../assets/Sieconnect.png" class="log">
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right mar-r">
        <li class="nav-item dropdown">
          <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()" style="display: block">
            <a class="nav-link dropdown-toggle mr-lg-2" id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
              <i class="fa fa-fw fa-envelope"></i>
              <span class="d-lg-none">Messages
                <span class="badge badge-pill badge-primary">12 New</span>
              </span>
              <span class="indicator text-primary d-none d-lg-block">
                <i class="fa fa-fw fa-circle"></i>
              </span>
            </a>
            <div class="dropdown-menu notification">
                <app-notif-pop-upwrapper>
                    <app-real-notif></app-real-notif>                
                </app-notif-pop-upwrapper>
            </div>
            <!-- <app-nav-pop-up class="dropdown-menu notifications" aria-labelledby="dLabel">
              <app-notif-pop-upwrapper>
                  <app-real-notif></app-real-notif>                
              </app-notif-pop-upwrapper>
            </app-nav-pop-up> -->
            <!-- <ul class="dropdown-menu notifications" aria-labelledby="dLabel">
              <app-notification [data]="notification"></app-notification>
            </ul> -->

          </span>
        </li>
        <li class="cust">
          <a href="javascript:void(0)" [popover]="popoverCustomer" placement="bottom" outsideClick="false">
            <span class="clr-w">{{customer.name}}</span>
          </a>
        </li>
        <ng-template #popoverCustomer>
          <div>
            <img src="assets/pencil.svg" class="pull-right pop-img">
            <div class=popup-p>
              <p>Name-{{customer.name}}</p>
              <p>Address-{{customer.address}}</p>
              <p>Email-{{customer.email}}</p>
              <p>contact-{{customer.contact}}</p>
            </div>
          </div>
        </ng-template>
        <li>
          <a href="#">
            <img src="../assets/setting.svg" class="img-responsive rlogo">
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="javascript:void(0)" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../assets/message.svg" class="img-responsive rlogo">
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>
        <li (click)="doSignOut()">
          <a href="#">
            <img src="../assets/logout.svg" class="img-responsive rlogo">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--<mat-progress-bar></mat-progress-bar>-->
  <!--<progressbar class="progress-striped active"  [value]="136" type="danger"><i>136 / 150</i></progressbar>-->
  <router-outlet>
    <app-loader></app-loader>
  </router-outlet>
</div>