
.navbar{
  margin-top: 0.5%;
  border-radius: 0px;
  margin-bottom: 13px;
}

.navbar img{
  margin-top: -14px;
  float: left;
}

.log{
  width: 71%;
  margin-top: -4%;
}

.navbar-header a{
  margin-top: 6px;
  padding-left: 30px;
}
.navbar.noTopBottomMargin{
  margin-bottom: 0px;
  margin-top: 0px;
}
/*.mar-top{
    margin-bottom: 2px;
}*/


.rlogo{
  max-width: none;
  width: 29px;
  height: 35px;
}

.navbar li{
  top: 1px;
  padding: 12px 0px;
}
