
<div class="mainContainer">
  <nav class="navbar navbar-inverse custom noTopBottomMargin">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="../assets/Sieconnect.png" class="log">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="cust">
          <span class="clr-w">Vendor A</span>
        </li>
        <li>
          <a href="#">
            <img src="../assets/01.png" class="img-responsive rlogo">
          </a>
        </li>
        <li>
          <!--<a href="#">-->
            <!--<img src="../assets/02.png" class="img-responsive rlogo">-->
          <!--</a>-->
          <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
              <i class="glyphicon glyphicon-bell"></i>
            </a>
            <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
              <div class="notification-heading"><h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
              </div>
              <li class="divider"></li>
              <div class="notifications-wrapper">
                <a class="content" href="#">

                  <div class="notification-item">
                    <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                    <p class="item-info">Marketing 101, Video Assignment</p>
                  </div>

                </a>
                <a class="content" href="#">
                  <div class="notification-item">
                    <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                    <p class="item-info">Marketing 101, Video Assignment</p>
                  </div>
                </a>
                <a class="content" href="#">
                  <div class="notification-item">
                    <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                    <p class="item-info">Marketing 101, Video Assignment</p>
                  </div>
                </a>
                <a class="content" href="#">
                  <div class="notification-item">
                    <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                    <p class="item-info">Marketing 101, Video Assignment</p>
                  </div>

                </a>
                <a class="content" href="#">
                  <div class="notification-item">
                    <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                    <p class="item-info">Marketing 101, Video Assignment</p>
                  </div>
                </a>
                <a class="content" href="#">
                  <div class="notification-item">
                    <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                    <p class="item-info">Marketing 101, Video Assignment</p>
                  </div>
                </a>

              </div>
              <li class="divider"></li>
              <div class="notification-footer"><h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
            </ul>

          </div>
        </li>
        <li (click)="doSignOut()">
          <a href="#" >
          <img src="../assets/03.png" class="img-responsive rlogo">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--<mat-progress-bar></mat-progress-bar>-->
  <!--<progressbar class="progress-striped active"  [value]="136" type="danger"><i>136 / 150</i></progressbar>-->
  <router-outlet>
    <app-loader></app-loader>
  </router-outlet>
</div>
