<div class="mainContainer">
  <nav class="navbar navbar-inverse custom noTopBottomMargin">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="../assets/Sieconnect.png" class="log">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="cust">
          <span class="clr-w">Vendor A</span>
        </li>
        <li>
          <a href="#">
            <img src="../assets/01.png" class="img-responsive rlogo">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/02.png" class="img-responsive rlogo">
          </a>
        </li>
        <li (click)="doSignOut()">
          <!--<a href="#" >-->
          <img src="../assets/03.png" class="img-responsive rlogo">
          <!--</a>-->
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
