html{
  font-size: 16px;
}

p{
  margin: 0px;
}

.clr-w{
  color:#ffffff;
}

.cust{
  margin-top: 6px;
  margin-right: 26px;
  font-size: 16px;
}

.search img {
  width: 28px;
  margin-left: 40px;
  float: left;
  display: inline;
}
.search{

}

.search input{
  border: none;
  background-color: #f3ecec;
  padding: 12px 11px;
  width: 70%;
  margin-left: 10px;
  position: absolute;
}
.search button{
  border: none;
  background-color:#f3ecec;
  width: 7%;
  margin-top: 10px;
}

.search input::placeholder {
  color: #F88C10;
  font-style: italic;
  font-size: 18px;
}

.middle-container{
  width: 100%;
  height: 430px;
  margin-top: -12px;
  margin-bottom: -3%;
}

.middle-container .map{
  width: 100%;
}
.r-icon{
  height: 26px;
  width: 30px;
  margin-right: 8px;
}

.bottom{

  background-color: #ece5e5;
  height: 169px;
}

.bottom .col-md-5 {
  width: 41%;
}

.filter{
  margin-top: -18px;
  border: 1px solid grey;
  border-radius: 24px;
  position: relative;
  left: 37px;
  display: flex;
  padding: 5px;
}

.f-data{
  height: 135px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  margin: 0px 6px 0px 0px;
  flex:1;
}
.f-data.noRightMargin{
  margin-right: 0px;
}
.f-data .filterCriterias{
  margin-top: -5px;
  margin-left: 0px;
}
button,input{
  outline: none;
}
/*.bottom .col-md-4 {
    width: 36.977777%;
    }*/

.filter .col-md-3 {
  width: 31%;
}

.cen{
  text-align: center;
  font-size: 14.9px;
  line-height: 31px;
  font-weight: 600
}

.ass-size{
  width: 16%;
  padding:0px 3px;
  float: left;
}

.f-14{
  font-size:14px;
  color: #000000;
}

.mar-l{
  margin-left: 7px;
}

.ass-type p{
  padding-left:10px;
}

.top{
  margin-top: 14px;
  width: 148px;
  height: 76px;
  margin-left: 18px;
  background-color: #44e7a0;
  border-radius: 21px 21px 0px 0px;
}
.bot{
  width: 148px;
  height: 76px;
  margin-left: 18px;
  background-color: #000;
  border-radius: 0px 0px 21px 21px ;
}

.font{
  text-align: center;
  font-size: 14px;
  padding-top: 13px;
  color: #fff;
  font-weight: bold;
}

.f-p  {
  color: #fff;
  text-align: center;
  font-size: 23px;
}

.cust-name{
  display:none;
  left: 115px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 13px;
}

#cust-name{
  display:none;
}
.filter-tag{
  position: relative;
  width: 15%;
  right: 25px;
  top: 73px;
}

.f-18{
  font-size: 18px;
  font-weight: 600;
}

.fil{
  transform: rotate(-90deg);
}

.filter-tag .caret{
  margin-left: 4px;
  border-top: 10px dashed;
  border-top: 8px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  color: #19e8a5;
}

.cust-name .caret{
  margin-left: 4px;
  border-top: 10px dashed;
  border-top: 8px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  color: #19e8a5;
}

.cust-detail{
  line-height: 13px;
  font-family: arial;
  padding: 5px 10px;
}
.cust-detail h4{
  font-size: 18px;
  font-weight: 600;
}

.btn-d{
  background: #f5cd0d;
  width: 60%;
  height: 29px;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: 600;
  font-size: 16px;
}

#customer{
  display: none;
}

.cust-detail h5{
  font-weight: normal;
  color:#000;
}

.message{
  background-color: #000;
  margin-top: 19px;
  color: white;
  border-radius: 16px;
  padding: 6px 10px;
  font-size: 15px;
  width: 160px;
  height: 65px;
  text-align: center;
  margin-left: 52px;
}

.message img{
  padding: 5px;
  width: 28px;
}

.cust-senti img{
  float: left;
  position: absolute;
  width: 32%;
  margin-left: 64px;
  margin-top: 20px;
}

.cust-senti p{
  margin-left: 128px;
  margin-top: 6px;
  padding-top: 20px;
  font-size: 15px;
  font-weight: 700;
}

.popup{
  display: none;
  position: absolute;
  border-radius: 11px;
  position: absolute;
  left: 391px;
  background-color: #fff;
  margin-top: 14px;
  padding: 8px;
}

.popup::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 115px;
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.content{
  font-size: 14px;
  padding: 6px;
  font-weight: normal;
  color: #000;
}

.popup img{
  width: 31px;
  padding-right: 6px;
}
.vl {
  border-left: 2px solid #c7c3c3;
  height: 120px;
  margin-top: 23px;
  float: left;
  margin-left: 56px;
}
.mainContainer{
  /*margin-top: -13px;*/
}
.top-container{
  background: #f3ecec;
  /*margin-top: -18px;*/
}

.table-container{
  width: 100%;
  padding: 0px 15px;
}
.s-table .t-head{
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 3px 2px #9c9898;
}

.s-table , .s-table th{
  border:2px solid #cecbcb;
}
.s-table td{
  border-right: 2px solid #cecbcb;

}

.s-table{
  box-sizing: border-box;
  width: 99%;
  max-width: 100%;
  margin-left: 2px;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 3px 2px #9c9898;
  margin-top: 1%;
}
.arrow{
  width: 10px;
  margin-left:40px;
}

.ser-icon{
  width: 17px;
  margin-left: 7px;
}

.s-table .table>tbody>tr>td {
  border-top: 1px solid #fff;
}

.s-table th{
  padding: 10px;
}

.third-t tr>td{
  padding: 14px;
  border-bottom: none;
}

.fourth-t tr>td{
  padding: 10px;
  border-bottom: none;
}
/*.s-table tr>td{
    padding: 10px;
    border-bottom: none;
}*/


/*.table>thead>tr>th {
padding: 12px;
}*/

.bg-black{
  background-color: #000;
}

.clr-aqua{
  color: #44e7a0;
}

.t-head span{
  font-size: 18px;
  padding-left: 11px;
}

.paginate {
  display: inline-block;
}

.paginate a {
  font-size: 13px;
  color: black;
  float: left;
  padding: 0px 3px;
  text-decoration: none;
}

.mleft-18{
  margin-left: 18px
}

.mright-18{
  margin-right: 18px;
}

.mleft63p{
  margin-left: 63%;
}
.top-header{
  margin-bottom: 0px;
  margin-top: 5px;
}
.marginLRZero{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.clr-blue{
  color: #3aa7d4;
}

.bg-grey{
  background: #dad1d1;
}
.tb{
  display: none;
}

input:focus, button:focus{
  outline: none;
}
