<div class="row mar-t flex-r">
  <div class="col-xs-4 ">
      <div class="mart-15 f-sw">Available KPI</div>
    <select [ngModel]="selectedCountry" name="from" id="multiselect2" class="form-control" size="8" multiple="multiple" title="asdf">
      <ng-container *ngFor="let options of optionsSettings">
        <option class="mar" *ngIf="!options.selected" value={{options.id}} selected={{options.selected}}>{{options.name}}</option>
      </ng-container>
    </select>
  </div>
  <div class="col-xs-1 mart-6p">
    <button type="button" id="multiselect2_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
    <button type="button" id="multiselect2_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
    <button type="button" id="multiselect2_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
    <button type="button" id="multiselect2_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
  </div>
  <div class="col-xs-4 ">
      <div class="mart-15 f-sw">Selected KPI</div>
    <select [ngModel]="selectedCountry"  name="to" id="multiselect2_to" class="form-control" size="8" multiple="multiple">
      <ng-container *ngFor="let options of optionsSettings">
        <option class="mar" *ngIf="options.selected" value={{options.id}}>{{options.name}}</option>
      </ng-container>
    </select>
  </div>
</div>
<!--

<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 pl0">
        <span class="text-muted fwbold">Select Members</span>
      </div>
    </div>
    <div class="row input-shadow group-list scroll">
      <select multiple="multiple" #field class="col-lg-12 col-md-12 col-sm-12 scroll h-190">
        &lt;!&ndash; <img src="assets/img/profile.png" class="w-20 mr-55" alt="group"> &ndash;&gt;
        <option class="userimage" *ngFor="let user of notSelectedUserList" [value]="user.userName" title = "{{user.userName}}">
          &nbsp; &nbsp; &nbsp; &nbsp;{{user.userName}}</option>
      </select>
    </div>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 mt-70 mr-10">
    <a href="javascript:void(0)">
      <img src="assets/img/bigdownarrow.png" class="w-17 img-rotate2" (click)="arrowClick(true)">
    </a>
    <a href="javascript:void(0)">
      <img src="assets/img/bigdownarrow.png" class="w-17 img-rotate1 mt-20" (click)="arrowClick(false)">
    </a>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 pl0">
        <span class="text-muted fwbold">Selected Members</span>
      </div>
    </div>
    <div class="row input-shadow group-list scroll">
      <select multiple="multiple" #selectField class="col-lg-12 col-md-12 col-sm-12 scroll h-190">
        &lt;!&ndash; <img src="assets/img/profile.png" class="w-20 mr-55" alt="group"> &ndash;&gt;
        <option class="userimage" *ngFor="let user of selectedUserList" [value]="user.userName" title = "{{user.userName}}">
          &nbsp; &nbsp; &nbsp; &nbsp;{{user.userName}}</option>
      </select>

    </div>
  </div>
</div>
-->
