<div class=" m-top">
  <div class="row marginLRZero">
    <div class="col-sm-6">
      <h4 class="fb-15">Asset View</h4>
      <div class="table-container">
        <div class="table-responsive box-border">

          <table class="asset-table">
            <thead>
            <tr class="border">
              <th>Asset Name</th>
              <td>{{assets.name}}</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>{{assets.location}}</td>
            </tr>
            <tr>
              <th>Model</th>
              <td>Image Runner</td>
            </tr>
            <tr>
              <th>Serial No.</th>
              <td>74792</td>
            </tr>
            <tr>
              <th>Scheduled Maintainence</th>
              <td><a>Click Here</a></td>
            </tr>
            <tr>
              <th>Performance</th>
              <td><a>Click Here</a></td>
            </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="mt-60">
        <h4 class="fb-15 mar-lb">Service Requests</h4>
        <div class="table-container">
          <div class="table-responsive">
            <app-table-demo  [data]="serviceData" [config]="serviceConfig" [columns]="serviceColumns"></app-table-demo>
            <!-- <table class="asset-table">
              <thead class="bg-black c-white">
              <tr>
                <th>Category of services</th>
                <th>Supplier Name</th>
                <th>Date of Service</th>
                <th>Amount</th>
                <th>Invoice</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Replace Motor</td>
                <td>ABC</td>
                <td>15 Jun 2018</td>
                <td>Kr 56</td>
                <td>
											<span>
												<img src="../../assets/pdf.svg">
											</span>
                </td>
              </tr>

              </tbody>
            </table> -->
          </div>
          <!--  <div class="paginate">
             <a href="#">&#10094;&#10094;</a>
             <a href="#" class="mright-18">&#10094;</a>
             <a href="#">1</a>
             <a href="#">2</a>
             <a href="#">3</a>
             <a href="#">4</a>
             <a href="#">5</a>
             <a href="#">6</a>
             <a href="#" class="mleft-18">&#10095;</a>
             <a href="#">&#10095;&#10095;</a>
           </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h4 class="fb-15 mar-lb">Product Request</h4>
      <div class="table-container">
        <div class="table-responsive ">
          <app-table-demo  [data]="productData" [config]="productConfig" [columns]="productColumns"></app-table-demo>
          <!-- <table class="asset-table">
            <thead class="bg-black c-white">
            <tr>
              <th>Category of Products</th>
              <th>Supplier Name</th>
              <th>Request Date</th>
              <th>Amount</th>
              <th>Invoice</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>A4 Paper</td>
              <td>ABC</td>
              <td>15 Jun 2018</td>
              <td>Kr 56</td>
              <td>
										<span>
											<img src="../../assets/pdf.svg">
										</span>
              </td>
            </tr>
            </tbody>
          </table> -->
        </div>
        <!-- <div class="paginate">
          <a href="#">&#10094;&#10094;</a>
          <a href="#" class="mright-18">&#10094;</a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#" class="mleft-18">&#10095;</a>
          <a href="#">&#10095;&#10095;</a>
        </div> -->
      </div>
      <div class="mt-29">
        <h4 class="fb-15 mar-lb">Order Details</h4>
        <div class="table-container">
          <div class="table-responsive">
            <app-table-demo [data]="consumptionData" [config]="consumptionConfig" [columns]="consumptionColumns"></app-table-demo>

            <!-- <table class="asset-table">
              <thead class="bg-black c-white">
              <tr>
                <th>Category</th>
                <th>Present Consumption</th>
                <th>Forecasted Consumption</th>
                <th>Recomendation</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let metric of assets.metrics">
                <td>{{assets.name}}</td>
                <td>{{metric.unit}}</td>
                <td>{{metric.category}}</td>
                <td>{{assets.location}}</td>
              </tr>
                <tr>
                 <td>A4 Paper</td>
                 <td>2000</td>
                 <td>3000</td>
                 <td></td>

               </tr>
              </tbody>
            </table> -->
          </div>
          <!-- <div class="paginate">
            <a href="#">&#10094;&#10094;</a>
            <a href="#" class="mright-18">&#10094;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#" class="mleft-18">&#10095;</a>
            <a href="#">&#10095;&#10095;</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
