<div class="mar-t1">
  <div class="row marginLRZero" style="justify-content: center;">
    <div *ngFor="let asset of assetDetail">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4 ">
            <div class="asset-div">
              <img src={{asset.img}} class="img-responsive">
            </div>
          </div>
          <div class="col-md-8 shiftleft">
            <p class="fsw-18">{{category[asset.category]}}</p>
            <div class="asset-table">
              <table class="table table-bordered">
                <tr>
                  <td>Usage</td>
                  <td>{{asset.metrics[0].usage}}</td>
                </tr>
                <tr>
                  <td>Uptime</td>
                  <td>{{asset.metrics[0].uptime}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <div class="asset-div">
            <img src="../../../assets/printer.svg" class="img-responsive">
          </div>
        </div>
        <div class="col-md-8 shiftleft">
          <p class="fsw-18">Printer</p>
          <div class="asset-table">
            <table class="table table-bordered">
              <tr>
                <td>Usage</td>
                <td>2000 Papers</td>
              </tr>
              <tr>
                <td>Uptime</td>
                <td>95%</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <div class="asset-div">
            <img src="../../../assets/broom.svg" class="img-responsive">
          </div>
        </div>
        <div class="col-md-8 shiftleft">
          <p class="fsw-18">Vaccum</p>
          <div class="asset-table">
            <table class="table table-bordered">
              <tr>
                <td>Usage</td>
                <td>20 Hrs 80 m
                  <sup>2</sup>
                </td>
              </tr>
              <tr>
                <td>Uptime</td>
                <td>95%</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <div class="finan mar-t1">
    <div class="row">
      <div class="col-md-8 shiftleft">
        <h4 class="float-l fsw-18">Financials</h4>
      </div>
      <div class="col-md-4 padRightZero">
        <div class="bgl-grey cost clr-w">
          <h4 class="fsw-16">Overall cost
            <span class="fw-600">Kr</span>5900</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="asset-chart mar-t">
    <div class="row marginLRZero">
      <div class="col-md-4">
        <div class="asset-div">
          <div class="row">
            <div class="col-md-3">
              <div>
                <img src="../../../assets/machine.svg" class="img-responsive img">
              </div>
            </div>
            <div class="col-md-4">
              <h4 class="fsw-18">Unit Cost</h4>
              <h4 class="fsw-18">Usage</h4>
            </div>
            <div class="col-md-5">
              <h4>
                <span class="fsw-18">Kr</span>3</h4>
              <h4>300 Cups</h4>
            </div>
          </div>
          <div class="graph">
            <app-bar-chart></app-bar-chart>
            <!--<img src="../../../assets/Picture1.png" class="img-responsive">-->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="asset-div">
          <div class="row">
            <div class="col-md-3">
              <div>

                <img src="../../../assets/printer.svg" class="img-responsive img">
              </div>
            </div>
            <div class="col-md-4">
              <h4 class="fsw-18">Unit Cost</h4>
              <h4 class="fsw-18">Usage</h4>
            </div>
            <div class="col-md-5">
              <h4>
                <span class="fsw-18">Kr</span>2</h4>
              <h4>2000 Pages</h4>
            </div>
          </div>
          <div class="graph">
            <app-bar-chart></app-bar-chart>

            <!--<img src="../../../assets/Picture2.png" class="img-responsive">-->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="asset-div">
          <div class="row">
            <div class="col-md-3">
              <div>
                <img src="../../../assets/broom.svg" class="img-responsive img">
              </div>
            </div>
            <div class="col-md-4">
              <h4 class="fsw-18">Unit Cost</h4>
              <h4 class="fsw-18">Usage</h4>
            </div>
            <div class="col-md-5">
              <h4>
                <span class="fsw-18">Kr</span>50</h4>
              <h4>20 Hrs</h4>
            </div>
          </div>
          <div class="graph">
            <app-bar-chart></app-bar-chart>

            <!--<img src="../../../assets/Picture3.png" class="img-responsive">-->
          </div>
          <!-- <div class="graph-info">
            <ul>
              <li><span>Current Year</span></li>
              <li><span>Previous Year</span></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
