<!--<div class="container map-sec">
  <div class="btn-div">
    <button [ngClass]="(!activeComponent)?'mar-r bttn active':'mar-r bttn'" (click)="loadComponent(0)">
      &lt;!&ndash;<img src="../assets/16.png" class="r-icon ">&ndash;&gt;
      Dashboard</button>
    <button [ngClass]="(activeComponent)?'mar-r mar bttn active':'mar-r bttn'" (click)="loadComponent(1)">
      &lt;!&ndash;<img src="../assets/17.png" class="r-icon">&ndash;&gt;
      Details</button>
  </div>
  &lt;!&ndash;<app-bar-chart></app-bar-chart>&ndash;&gt;
  <router-outlet>
    <app-ad-banner [ads]="ads" [activeComponent]="activeComponent" class="map"></app-ad-banner>
  </router-outlet>
</div>-->
<div class="container map-sec">
  <div class="btn-div">
    <button [ngClass]="(!activeComponent)?'bttn active':' bttn'" (click)="loadComponent(0)">
      Dashboard</button>
    <button [ngClass]="(activeComponent)?' bttn active':' bttn'" (click)="loadComponent(1)">
      Details</button>
  </div>
  <router-outlet>
    <!--<app-ad-banner [ads]="ads" [activeComponent]="activeComponent" class="map"></app-ad-banner>-->
  </router-outlet>
  <!-- feedback popover -->
  <a [popover]="feedback" placement="right" [outsideClick]="true">
    <img src="../assets/feed-icon.png" class="feedback-img">
  </a>
  <ng-template #feedback>
    <div>
      <!-- <img src="assets/pencil.svg" class="pull-right pop-img"> -->
      <div class=popup-p>
        <a>
            <img src="../assets/GreenFace.png" class="feedback-icon">
        </a>
        <a>
            <img src="../assets/YellowFace.png" class="feedback-icon">
        </a>
        <a>
            <img src="../assets/RedFace.png" class="feedback-icon">
        </a>
      </div>
    </div>
  </ng-template>

  <a [popover]="message" placement="left" [outsideClick]="true" class="pull-right">
    <img src="../assets/messageIcon.png" class="feedback-img">
  </a>
  <ng-template #message>
    <div>
      <!-- <img src="assets/pencil.svg" class="pull-right pop-img"> -->
      <div class=popup-p>
        <textarea rows="4">
        </textarea>
        <a>
            <img src="../assets/message-arrow.png" class="msg-img">
        </a>
        <!-- <img src="../assets/feedback.jpg" style="width:100px;"> -->
      </div>
    </div>
  </ng-template>
</div>