
.bttn{
  padding: 8px 19px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 9px;
  background: #dddddd;
}

.bttn:hover,.btn-div .active{
  background-color: #44e7a0;
  border: 1px solid transparent;
  border-radius: 9px;
  color:#fff;
}
.btn-div{
  text-align: right;
  margin: 10px 0px;
  padding-right: 5px;
}
.popover-content {
  /* padding: 4px 16px; */
}

.feedback-img{
  width: 40px;
  margin: 10px;
}
.feedback-icon{
  width: 45px;
  padding: 5px;
}
.msg-img{
    width: 20px;
    display: table;
    margin-top: 95px;
    float: right;
}