<div class="row">
  <div class="col-md-6">
    <div class="flex-d mr-LR">
      <h3 class="fb-15">Asset Status</h3>
      <div class="flex-d box-border status">
        <div class="iconText">
          <img src="../../assets/09.png" class="ass-size">
          <p>Not Working</p>
        </div>
        <div class="iconText">
          <img src="../../assets/10.png" class="ass-size">
          <p>Service Required</p>
        </div>
      </div>
    </div>
    <!--<div class="row">-->
    <div class="table-container">

      <div class="table-responsive">
        <app-table-demo #assetTable [data]="assetData" [config]="assetConfig" [columns]="assetColumns"></app-table-demo>
        <!-- <app-reusable-table></app-reusable-table> -->
      </div>

      <h3 class="ml-21 fb-15">Agreement Status</h3>
      <div class="table-container tb" id="table1">
        <div class="table-responsive">
          <!--<app-reusable-table></app-reusable-table>-->
          <app-table-demo #agreementTable [data]="agreementData" [config]="agreementConfig" [columns]="agreementColumns"></app-table-demo>
        </div>

      </div>

    </div>
    </div>

    <div class="col-md-6">

      <div class="card">
        <h3 class="fb-15">Search for Agreement No., Type / Asset</h3>
        <div>
          <span>
            <img src="">
          </span>
          <input class="input-lg wd-85" #search (keyup)="onSearchKey(search.value)" type="text" name="" placeholder="Type here to search by Agreement No./Type / Asset">
        </div>
      </div>

      <div class="mt113">
        <h3 class="ml-21 fb-15">Consumption Status</h3>
        <div class="table-container tb">
          <div class="table-responsive">
            <app-table-demo #consumptionTable [data]="consumptionData" [config]="consumptionConfig" [columns]="consumptionColumns"></app-table-demo>
          </div>

        </div>
      </div>
    </div>

  </div>