
<div class="row">
  <div class="col-md-6">
    <div class="flex-d mr-LR">
      <h3 class="fb-15">Asset Status</h3>
      <div class="flex-d box-border status">
        <div class="iconText">
          <img src="../../assets/09.png" class="ass-size">
          <p>Not Working</p>
        </div>
        <div class="iconText">
          <img src="../../assets/10.png" class="ass-size">
          <p>Service Required</p>
        </div>
      </div>
    </div>
    <div class="table-container">
      <div class="table-responsive">
        <app-table-demo  #assetTable [data]="assetData" [config]="assetConfig" [columns]="assetColumns"></app-table-demo>

      <!-- <app-reusable-table></app-reusable-table> -->

        <!-- <table class="third-t s-table">
          <thead>
          <tr class="t-head clr-w bg-black">
            <th>
              <span class="left">Asset Name</span>
              <span class="right">
                      <span>
                        <img src="../../assets/30.svg" class="arrow">
                      </span>
                      <span>
                        <img src="../../assets/04.svg" class="ser-icon">
                      </span>
                    </span>
            </th>
            <th>
              <span class="left">Status</span>
              <span class="right">
                      <span>
                        <img src="../../assets/30.svg" class="arrow">
                      </span>
                      <span>
                        <img src="../../assets/04.svg" class="ser-icon">
                      </span>
                    </span>
            </th>
            <th>
              <span class="left">Location</span>
              <span class="right">
                      <span>
                        <img src="../../assets/30.svg" class="arrow">
                      </span>
                      <span>
                        <img src="../../assets/04.svg" class="ser-icon">
                      </span>
                    </span>
            </th>
            <th>
              <span class="left">Action</span>
              <span class="right">
                      <span>
                        <img src="../../assets/30.svg" class="arrow">
                      </span>
                      <span>
                        <img src="../../assets/04.svg" class="ser-icon">
                      </span>
                    </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let asset of assetDetail">
            <td>
              <a routerLink="asset/{{asset.id}}" routerLinkActive="active">{{asset.name}}</a>
            </td>
            <td>
              <img src="../../assets/10.png" class="ass-size">
            </td>
            <td>{{asset.location}}</td>
            <td>
              <div class="a-div bg-aqua mbot-2p">
                  <span>
                    <img src="../../assets/wrench.svg" class="a-size wd-10">
                  </span>
                <p class="c-white">Do it yourself</p>
              </div>
              <div class="a-div bg-lgrey">
                  <span>
                    <img src="../../assets/problem.svg" class="a-size wd-14">
                  </span>
                <p class="c-white">Report Incident</p>
              </div>
            </td>
          </tr> -->
         <!-- <tr>
            <td>
              <a routerLink="asset/12" routerLinkActive="active">Canon AB673 - Printer</a>
            </td>
            <td>
              <img src="../../assets/10.png" class="ass-size">
            </td>
            <td>Bromma</td>
            <td>
              <div class="a-div">
                      <span>
                        <img src="../../assets/wrench.svg" class="a-size wd-10">
                      </span>
                <p class="c-white">Do it yourself</p>
              </div>
              <div class="ag-div">
                      <span>
                        <img src="../../assets/problem.svg" class="a-size wd-14">
                      </span>
                <p class="c-white">Report Incident</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <a routerLink="asset/12" routerLinkActive="active">Canon AB673 - Printer</a>
            </td>
            <td>
              <img src="../../assets/10.png" class="ass-size">
            </td>
            <td>Bromma</td>
            <td>
              <div class="a-div">
                      <span>
                        <img src="../../assets/wrench.svg" class="a-size wd-10">
                      </span>
                <p class="c-white">Do it yourself</p>
              </div>
              <div class="ag-div">
                      <span>
                        <img src="../../assets/problem.svg" class="a-size wd-14">
                      </span>
                <p class="c-white">Report Incident</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <a routerLink="asset/12" routerLinkActive="active">Canon AB673 - Printer</a>

            </td>
            <td>
              <img src="../../assets/10.png" class="ass-size">
            </td>
            <td>Bromma</td>
            <td>
              <div class="a-div">
                      <span>
                        <img src="../../assets/wrench.svg" class="a-size wd-10">
                      </span>
                <p class="c-white">Do it yourself</p>
              </div>
              <div class="ag-div">
                      <span>
                        <img src="../../assets/problem.svg" class="a-size wd-14">
                      </span>
                <p class="c-white">Report Incident</p>
              </div>
            </td>
          </tr>-->
          <!-- </tbody>
        </table>-->
      </div>

    </div>

    <h3 class="ml-21 fb-15">Agreement Status</h3>
    <div class="table-container tb" id="table1">
      <div class="table-responsive">
        <table class="third-t s-table">
          <thead>
          <tr class="t-head  clr-w bg-black">
            <th>
              <span class="left">Agreement No</span>
              <span class="right">
                      <span>
                        <img src="../../assets/30.svg" class="arrow">
                      </span>
                      <span>
                        <img src="../../assets/04.svg" class="ser-icon">
                      </span>
                    </span>
            </th>
            <th>
              <span class="left">Location</span>
              <span class="right">
                      <span>
                        <img src="../../assets/30.svg" class="arrow">
                      </span>
                      <span>
                        <img src="../../assets/04.svg" class="ser-icon">
                      </span>
                    </span>
            </th>
            <th>
              <span class="left">Termination Date</span>
              <span class="right">
                      <span>
                        <img src="../../assets/30.svg" class="arrow"> </span>
                      <span>
                        <img src="../../assets/04.svg" class="ser-icon"> </span>
                    </span>
            </th>
            <th>
              <span class="left">Action</span>
              <span class="right">
                      <span>
                        <img src="../../assets/30.svg" class="arrow"> </span>
                      <span>
                        <img src="../../assets/04.svg" class="ser-icon"> </span>
                    </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let agreement of agreements">
            <td>
              <a routerLink="agreementNo/{{agreement.id}}" routerLinkActive="active">{{agreement.agreement_no}}</a>
            </td>
            <td>Bromma</td>
            <td>{{agreement.termination_date}}</td>
            <td>
              <div class="a-div bg-aqua mbot-2p">
                  <span>
                    <img src="../../assets/upgrade.svg" class="a-size wd-24">
                  </span>
                <p>Upgrade</p>
              </div>
              <div class="a-div bg-lgrey">
                  <span>
                    <img src="../../assets/terminated.svg" class="a-size wd-24">
                  </span>
                <p>Terminated</p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <div class="col-md-6">

    <div class="card">
      <h3 class="fb-15">Search for Agreement No., Type / Asset</h3>
      <div>
            <span>
              <img src="">
            </span>
        <input class="input-lg wd-85" #search (keyup)="onSearchKey(search.value)" type="text" name="" placeholder="Type here to search by Agreement No./Type / Asset">
      </div>
    </div>

    <div class="mt113">
      <h3 class="ml-21 fb-15">Consumption Status</h3>
      <div class="table-container tb">
        <div class="table-responsive">
          <app-table-demo #consumptionTable [data]="consumptionData" [config]="consumptionConfig" [columns]="consumptionColumns"></app-table-demo>
<!--
          <table class="third-t s-table">
            <thead>
            <tr class="t-head  clr-w bg-black">
              <th>
                <span class="left">Asset Name</span>
                <span class="right">
                        <span>
                          <img src="../../assets/30.svg" class="arrow">
                        </span>
                        <span>
                          <img src="../../assets/04.svg" class="ser-icon">
                        </span>
                      </span>
              </th>
              <th>
                <span class="left">Unit</span>
                <span class="right">
                        <span>
                          <img src="../../assets/30.svg" class="arrow">
                        </span>
                        <span>
                          <img src="../../assets/04.svg" class="ser-icon">
                        </span>
                      </span>
              </th>
              <th>
                <span class="left">Category</span>
                <span class="right">
                        <span>
                          <img src="../../assets/30.svg" class="arrow"> </span>
                        <span>
                          <img src="../../assets/04.svg" class="ser-icon"> </span>
                      </span>
              </th>
              <th>
                <span class="left">Location</span>
                <span class="right">
                        <span>
                          <img src="../../assets/30.svg" class="arrow"> </span>
                        <span>
                          <img src="../../assets/04.svg" class="ser-icon"> </span>
                      </span>
              </th>
              <th>
                <span class="left">Available</span>
                <span class="right">
                        <span>
                          <img src="../../assets/30.svg" class="arrow"> </span>
                        <span>
                          <img src="../../assets/04.svg" class="ser-icon"> </span>
                      </span>
              </th>
              <th>
                <span class="left">Required</span>
                <span class="right">
                        <span>
                          <img src="../../assets/30.svg" class="arrow"> </span>
                        <span>
                          <img src="../../assets/04.svg" class="ser-icon"> </span>
                      </span>
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let asset of assetDetail">
              <tr *ngFor="let metric of asset.metrics">
                <td>{{asset.name}}</td>
                <td>{{metric.unit}}</td>
                <td>{{metric.category}}</td>
                <td>{{asset.location}}</td>
                <td>{{metric.available}}</td>
                <td>{{metric.required}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>-->
        </div>

      </div>
    </div>
  </div>

</div>
